/*  your css code here. If applicable */
#yellow{
	background-color:yellow;
	border-top: 1px solid;
	border-left: 1px solid;
	border-right:1px solid;
	border-bottom:1px solid;
	border-color: green;
}
#red{
	background-color:red;
	border-top: 1px solid;
	border-left: 1px solid;
	border-right:1px solid;
	border-bottom:1px solid;
	border-color:black;
}
#green{
	background-color:green;
	border-top: 1px solid;
	border-left: 1px solid;
	border-right:1px solid;
	border-bottom:1px solid;
	border-color:yellow;
}